/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

.card2 .justify, .card2 .userch, .card2 .correctAnswer h4 {
  border-bottom: 2px solid #ddd;
  margin: 0px;
}
.card2 .justify, .card2 .userch, .card2 .correctAnswer {
  color: rgb(211, 211, 211);
  font-weight: 600;
  padding: 20px 10px;
  margin: 15px 0;
  border-radius: 5px;
}

* {
  font-family: "Cairo", sans-serif;
  font-family: "Karla", sans-serif;
}

body {
  background: #404258;
}
body .stepper_compenent .stepper ul {
  display: flex;
  justify-content: center;
  padding-left: 0px;
}
body .stepper_compenent .stepper ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .stepper_compenent .stepper ul li .icon {
  font-size: 27px;
  margin: 0 200px;
  color: #fff;
}
body .stepper_compenent .stepper ul li .step {
  color: rgb(211, 211, 211);
  font-size: 15px;
  font-weight: 600;
}
body .stepper_compenent .stepper ul li .progress {
  margin: 2px 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
}
body .stepper_compenent .stepper ul li .progress .uil {
  display: none;
}
body .stepper_compenent .stepper ul li .progress .number {
  margin: 0;
  font-size: 14px;
  color: #ff6319;
  font-weight: 800;
}
body .stepper_compenent .stepper ul li .progress::after {
  content: " ";
  position: absolute;
  width: 397px;
  height: 5px;
  background-color: #fff;
  right: 30px;
}
body .stepper_compenent .stepper ul li .one::after {
  width: 0;
  height: 0;
}
body .stepper_compenent .stepper ul li .active {
  transition: 0.7s;
  background-color: #ff6319;
}
body .stepper_compenent .stepper ul li .active .number {
  display: none;
}
body .stepper_compenent .stepper ul li .active .uil {
  display: flex;
}
body .stepper_compenent .stepper ul li .active::after {
  background-color: #ff6319;
}
body .card3 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #50577A;
  transition: 0.3s;
  width: 90%;
  margin: auto;
  height: 100%;
  border-radius: 5px;
}
body .card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
body .card3 .icon {
  margin-top: 15px;
  padding: 15px 15px;
}
body .card3 .icon i {
  font-size: 20px;
  color: aliceblue;
}
body .card3 .button-container {
  display: flex;
  justify-content: center;
}
body .card3 .button-container #yn {
  color: #404258;
  padding: 8px;
}
body .card3 .button-container .start {
  padding: 15px;
  font-weight: bold;
  border-radius: 3px;
  border-style: none;
}
body .card3 .button-container .pd {
  padding: 15px;
}
body .card3 .button-container .pd #note {
  color: aliceblue;
}
body .card3 .button-container .pd .rules {
  color: #ff9c00;
}
body .card3 #start {
  display: flex;
  justify-content: center;
  padding: 10px;
}
body .card3 #start #yn {
  width: 60%;
}

nav {
  display: flex;
  justify-content: center;
  color: rgb(29, 39, 46);
  padding-bottom: 30px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #50577A;
  transition: 0.3s;
  padding: 10px;
  width: 95%;
  margin: auto;
  height: 100%;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card #question .quiz-area h2 {
  display: flex;
  width: 100%;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.card #question .answers-area {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card #question .answers-area .answer {
  width: 80%;
  border: 1px solid #ffffff;
  border-radius: 5px;
  position: relative;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 10px;
}
.card #question .answers-area .answer:hover {
  background-color: aliceblue;
  color: #404258;
  transition: 0.5s;
  font-weight: bold;
  width: 81%;
}
.card #question .answers-area .answer #answers {
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
  opacity: 0;
}
.card #question .answers-area .answer .answersQuestion {
  display: flex;
  align-items: center;
}
.card #question .answers-area .active {
  background-color: aliceblue;
  font-weight: bolder;
  color: #404258;
}
.card .button {
  display: flex;
  height: 60px;
  width: 95%;
  display: flex;
  margin: auto;
  align-items: center;
  margin-top: 2rem;
  background: #404258;
  color: aliceblue;
  border-radius: 5px;
}
.card .button:hover {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.card .quiz {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding: 20px;
  color: aliceblue;
}
.card .icon {
  margin-top: 15px;
  padding: 15px 15px;
}
.card .icon i {
  font-size: 20px;
  color: aliceblue;
}

.btnSubmit {
  padding: 15px;
  display: flex;
  justify-content: center;
}
.btnSubmit #submit {
  height: 50px;
  width: 30%;
  color: black !important;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.631372549);
  transition: 0.3s;
  width: 95%;
  margin: auto;
  height: 100%;
  border-radius: 5px;
}
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card2 .icon {
  margin-top: 15px;
  padding: 15px 15px;
}
.card2 .icon i {
  font-size: 20px;
  color: #404258;
}
.card2 .title {
  display: flex;
  justify-content: center;
}
.card2 #result {
  width: 90%;
  margin: auto;
  justify-content: center;
}
.card2 #result .resultSection {
  border-bottom: #404258;
}
.card2 .correctAnswer {
  background-color: rgb(19, 131, 19);
  margin: 0 0 12px 0;
}
.card2 .userch {
  background-color: rgb(185, 19, 19);
  margin: 0 0 12px 0;
}
.card2 .justify {
  background-color: rgb(224, 215, 125);
  /* margin: 0 0 12px 0; */
  color: #404258;
}
.card2 .justify h4 {
  margin: 0px;
  border-bottom: 2px solid gray;

}
@media(max-width: 600px) {

  body .stepper_compenent .stepper ul li .progress::after {
    /* display: none; */

    content: " ";
    /* position: absolute; */
    width: 70px;
    /* height: 5px; */
    background-color: #fff;
    /* right: 30px; */
  }
  body .stepper_compenent .stepper ul li{
    width: 100px;
  }
  body .stepper_compenent .stepper ul li .active::after{
    background-color: #ff6319;
  }
}
